[package]
name = "kamn-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
base64.workspace = true
serde.workspace = true
sha2.workspace = true
